# OS
.DS_Store

# Node
node_modules/
.pnpm-store/
.turbo/

# Build outputs
.next/
out/
dist/
build/
coverage/
*.tsbuildinfo

# Rust
target/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
apps/apple/.build/
